language: java
sudo: false
install: true

addons:
  sonarcloud:
    organization: "rocketeer55-github"
    token:
      secure: "e8607849002758df0e512da476b18a48d60d2965"

jdk:
  - oraclejdk9

script:
  # JaCoCo is used to have code coverage, the agent has to be activated
- mvn clean org.jacoco:jacoco-maven-plugin:prepare-agent package sonar:sonar
